body {
  font-family: roboto, Tahoma, sans-serif;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
.web-log {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;

  color: #2196f3;
}
.studio-log {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  /* identical to box height */

  letter-spacing: 0.03em;

  color: #000000;
}

.studio {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.02em;

  color: #212121;
}

.studio:hover {
  color: #2196f3;
}

.portfolio {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.02em;

  color: #212121;
}

.portfolio:hover {
  color: #2196f3;
}

.contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.02em;

  color: #212121;
}
.contacts:hover {
  color: #2196f3;
}

.tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.02em;

  color: #757575;
}
.tel:hover {
  color: #2196f3;
}

.mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.02em;

  color: #212121;
}

.mail:hover {
  color: #2196f3;
}

/*----------------buttons----------------*/

.all,
.web,
.soft,
.marketing {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;

  color: #212121;

  background: #f5f4fa;
  border-radius: 4px;
  cursor: pointer;
}
.all:hover {
  color: #ffffff;
  background: #2196f3;

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.web:hover {
  color: #ffffff;
  background: #2196f3;

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.soft:hover {
  color: #ffffff;
  background: #2196f3;

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.marketing:hover {
  color: #ffffff;
  background: #2196f3;

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

/*--------------portfolio-list----------------*/

.techno,
.poster,
.rest,
.prime,
.boxes,
.bordes,
.limited,
.lab,
.business {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.techno-text,
.poster-text,
.rest-text,
.prime-text,
.boxes-text,
.bordes-text,
.limited-text,
.lab-text,
.business-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}

/*----------------footer----------------*/

.footer {
  background-color: #757575;
}

.map {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: #ffffff;
}
.mail-footer {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

.tel-footer {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}
